doctype html
html
  head
    title Dhuban-Dance-Acadamy
    block scripts
    block style  
  body
    nav#navbar.top 
      ul 
        #logo 
          div 
            img(src="static/dancelogo.png")
          div 
            |DDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/services") Services]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      | Copyright © 2023 DhubanDanceAcadamy.com | All rights reserved.    
